@font-face {
    font-family: 'my-font';
    src: url("./sell-icon.eot") format('eot'),
            url("./sell-icon.woff") format('woff');
    font-weight: 600;
    font-style: normal;
}
.hello {
    color: blue;
    background: url("./myself.jpg");
    font-family: 'my-font';

}